.App {
  text-align: center;
  background-color: 	#1d1f24;
  height: 1200px;
}



.contenedor4{
  height: 20%;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center; 
  margin: 30px 0px 0px 0px;
 }

.contenedor3{
  height: 25%;
}

.contenedor2{
  height: 15%;
  
}

.contenedor{
  height: 25%;
  
  margin: 1% 1%;
}

.contenedor_grid{
  height: 500px;
  
  margin: 0px 0px;
}

.desplazar-contenedor-gris{
  padding: 10px 0px 0px 12px;
}

.contenedor-gris{
  width: 300px; 
  height: 50px; 
  border: rgb(77, 67, 67); 
  background:rgb(77, 67, 67); 
  align-items: left;
  align-self: left;
  align-content: left;
  text-align: left;  
  
}

.letras_mini_blancas{
  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color:white; 
  padding: 5px 0px 0px 10px;
}

.letras_mini_gris{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 0px 0px 10px;
  color:rgb(129, 113, 113); 
}

.letra_blancas{
  align-items: left;
  align-self: left;
  align-content: left;
  text-align: left; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color:white; 
  padding: 0px 0px 0px 15px;
}

.letra_gris{
  align-items: right;
  align-self: right;
  align-content: right;
  text-align: right; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 0px 85px 0px 0px;
  color:rgb(129, 113, 113); 
}

.App-table-ini{
  span: "2";
  
  padding: 0px 9px 0px 35%;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color:white; 
}
.App-table-ini2{
  span: "2";
  
  padding: 50px 9px 0px 34%;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color:white; 
}

.App-table-ini3{
  span: "2";
  
  padding: 50px 9px 0px 5%;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color:white; 
}

.App-table-ini4{
  span: "2";
  
  padding: 50px 9px 0px 35%;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color:white; 
}

.App-table{
  span: "2";
  
  padding: 0px 0px 15px 0px;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color:rgb(77, 67, 67); 
}

.App-table2{
  span: "2";
  
  padding: 25px 0px 15px 0px;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color:rgb(77, 67, 67); 
}


.App-table3{
  span: "2";
  
  padding: 0px 0px 0px 0px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color:rgb(77, 67, 67); 
}

.App-table4{
  span: "2";
  
  padding: 15px 0px 15px 0px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color:rgb(77, 67, 67); 
}

.App-table-separacion{
  
  padding: 50px 50px 15px 50px;
}

.App-table2-separacion{
  
  padding: 100px 50px 30px 50px;
}

.App-table3-separacion{
  
  padding: 0px 600px 0px 0px;
}

.App-table4-separacion{
  
  padding: 0px 50px 0px 50px;
}

.circulo2{
  
  height:100px;
  width:100px;
  background:#e44444;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
}
.circulo3{
  height:100px;
  width:100px;
  background:#9ffa6a;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
}
.circulo4{
  height:100px;
  width:100px;
  background:#6ae4fa;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
}
.circulo1{
  height:100px;
  width:100px;
  background:#faf86a;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
}


.App-actual-logo2{
  height: 200px;
  padding: 20px 0px 0px 50px;
   
}

.formsNombre{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color:white; 
  padding: 70px 735px 0px 0px;
}

.formsUbicacion{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 15px 820px 0px 0px;
  color:rgb(77, 67, 67); 
}

.App-logo {
  height: 50px;
  top: 0px;
  padding: 0px 1050px 0px 0px;
  align-items: left;
  justify-content: left;
  pointer-events: none;
}

.App-logo-mini {
  height: 30px;
  top: 0px;
  padding: 0px 0px 0px 15px;
  align-items: left;
  justify-content: left;
  pointer-events: none;
}

.App-fecha-mini{
  padding: 9px 115px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color:rgb(77, 67, 67); 
  

}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-actual-header{
  height: 5%;
  align-items: left;
  justify-content: left;
  background-color: 	#000000;
}

.App-actual-body{
  background-color: 	#282c34;
  
}

.App-link {
  color: #61dafb;
}

.App-raya{
  border: 1px solid rgba(77, 67, 67,.3);
  
}

.grid-container {
  
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 15px;
  grid-template-columns: auto auto auto ;
  grid-template-rows: 65px 65px 65px;
}

.grid-item {
  display: grid;
  grid-column-gap: 50px;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
