.App {
  text-align: center;
  background-color: 	#1d1f24;
  height: 1000px;
}

.contenedor4{
  height: 20%;
 }

.contenedor3{
  height: 25%;
}

.contenedor2{
  height: 15%;
  
}

.contenedor{
  height: 25%;
  
  margin: 1% 1%;
}

.App-actual-logo2{
  height: 200px;
  padding: 20px 0px 0px 50px;
   
}

.formsNombre{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color:white; 
  padding: 70px 735px 0px 0px;
}

.formsUbicacion{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 15px 820px 0px 0px;
  color:rgb(77, 67, 67); 
}

.App-logo {
  height: 50px;
  top: 0px;
  padding: 0px 1050px 0px 0px;
  align-items: left;
  justify-content: left;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-actual-header{
  height: 5%;
  align-items: left;
  justify-content: left;
  background-color: 	#000000;
}

.App-actual-body{
  background-color: 	#282c34;
  
}

.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
